<!DOCTYPE html>
<html>
	<head>
		<title>Udacity - Messenging System</title>
	</head>
	<body>
		<div class="navtop">
			<ul class="navlist">
				<li><a class="navlink" href="/#/inbox">Inbox</a></li>
				<li><a class="navlink" href="/#/chat">Chat</a></li>
				<li><a class="navlink" href="/#/login">Login</a></li>
				<li><a class="navlink" href="/downloads/source.rar">Source</a></li>
				<li><a class="navlink" href="#">User: {{user}}</a></li>
			</ul>
		</div>
		<div class="content">
			<div class="chatpanel"></div>
		</div>
		
  		
 

  

	</body>
</html>